html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Exo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   
    background: linear-gradient(270deg, #ffffff, #57687c, #333333, #a8a8a8);
    background-size: 500% 500%;
  
    -webkit-animation: gradient 5s ease infinite;
    -moz-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-lani-color-1 {
  color: #2780c2;
}

.text-lani-color-2 {
  color: #03baa4;
}

.text-white {
  color: white;
}

.gradientar {
  background: linear-gradient(270deg, #ffffff, #57687c, #333333, #a8a8a8);
  background-size: 800% 800%;

  -webkit-animation: gradient 5s ease infinite;
  -moz-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}

@-webkit-keyframes gradient {
  0%{background-position:47% 0%}
  50%{background-position:54% 100%}
  100%{background-position:47% 0%}
}
@-moz-keyframes gradient {
  0%{background-position:47% 0%}
  50%{background-position:54% 100%}
  100%{background-position:47% 0%}
}
@keyframes gradient {
  0%{background-position:47% 0%}
  50%{background-position:54% 100%}
  100%{background-position:47% 0%}
}