html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Exo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(321deg,#4c4c4c,#333333);
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-lani-color-1 {
  color: #2780c2;
}

.text-lani-color-2 {
  color: #03baa4;
}

.text-white{
  color: white;
}